.App {
    font-size: 16px; 
    height: 100vh;
    width: 100%;
    position: relative;
    font-weight: 400;
}
.display-topper{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(./image/budget-training.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.income-expense-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    width: 400px;
    color: #fff;
    margin-bottom: 25px;

}
.header-text-div .header-text{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}
.income-expense-display{
    font-size: 2rem;
    font-weight: 300;
    /* letter-spacing: 2px; */
    text-align: center;
}
.income-stack-display, .expense-stack-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: left;
}
.total-expense-amount-field, .total-income-amount-field{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase; */
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0 .4rem;
}
.income-stack-display{
    margin-bottom: 5px;
    background-color: #28B9B5;

}
.expense-stack-display{
    background-color: #FF5049;
    margin-bottom: 10px;

}
.income-amount-percentage, .expense-amount-percentage{
    font-size: 11px;
    padding: 3px 0;
    margin-left: 5px;
    width: 22px;
}
.expense-amount-percentage{
    background-color: rgba(255, 255, 255, 0.2);
}
.input-income-expense-field{
    padding: 20px;
    background-color: #f7f7f7;
    /* letter-spacing: 1.2rem; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input-container{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 640px;

}
#income-expense-option{
    padding: 10px 5px;
    margin: 0 5px;
    /* letter-spacing: .2rem; */
}
.detail-input-text{
    padding: 10px 5px;
    margin: 0 5px;
    /* letter-spacing: .2rem; */
    width: 540px;
    border-radius: 5px;
    color: rgb(124, 123, 124);
}
.input-detail-value{
    padding: 10px 5px;
    margin: 0 5px;    
    /* letter-spacing: .2rem; */
    width: 80px;
}
.income-expense-list-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 15px 50px; */
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-self: center;
    padding: 15px 50px;
    gap: 20px;
}
.income-side-detail, .expense-side-detail {
    margin-top: 40px ;
    width: 90%;
}
h2.income-header, h2.expense-header {
    line-height: 1.5rem;
    padding: 15px;
    font-size: 2.1rem;
    font-weight: 400;
    border-bottom: 1px solid #28B9B5;
}
.income-list-container, .expense-list-container{
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
.item-field {
    border: 1px solid inherit;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 10px;
    margin: 5px 8px;
    border-radius: 5px;
}

.item-field:nth-of-type(2n){
    background-color: #8f62f8;
    color: #fa9a97;
    box-shadow:  3px 2px 2px 1px #c99df8,  -3px -2px 2px 1px #bc99e2;
}
.item-field:nth-of-type(2n+1){
    background-color: #8e5aac;
    color: #333035;
    box-shadow:  3px 2px 2px 1px #dbbcfc, -3px -2px 2px 1px #dbbcfc;
}
.item-value-container {
    /* display: flex;
    flex-direction: row; */
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 2px 5px;
}
/* .remove-button {
    visibility: hidden;
} */
.show-delete{
    display: inline;
    visibility: visible;
}
.delete-edit-button{
    font-size: 1.5rem;
    margin-left: 8px;
    background-color: inherit;
    /* height: 20px; */
    text-align: center;
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 0;
    opacity: 0;
    visibility: visible;
    /* gap: 8px; */
    transition: 0.4s linear;
    transition-property: transform opacity;
}
.item-field:hover .delete-edit-button{
    width: 50px;
    opacity: 1;

}
.hidden-field {
    opacity: 0;
    transition: all 250ms linear 2s; /* the last value defines transition-delay */
  }


